<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Finalizar Compra'}) %>
<link href="/css/compras.css" rel="stylesheet" type="text/css">
    <body>
        <%- include('partials/headerNavbar') %>
        
        <main>
            <section class="titulo">
                <div>
                    <h1> Meu Carrinho </h1>
                    <h3> <a href="/"  class="adicionarmais"> Escolher mais produtos </a></h3>
                </div>
            </section>
            <section class="comprar">
                <div id="produtos">
                    <table>
                        <tr class="tituloTable">
                            <th> <h3> Produto </h3></th>
                            <th> <h3> Preço </h3></th>
                            <th> <h3> Quantidade </h3></th>
                            <th> <h3> Total </h3> </th>
                            <th></th>
                        </tr>
            
                        <div class="produtosTable">
                            <%
                              carrinho.forEach(carrinho =>{ 
                              
                            %>
                            <tr>
                                <td class="produtoComprar">
                                    <img src="<%= carrinho.produto_img %>"/>
                                    <h4> <%= carrinho.nome_produto %></h4>
                                </td>
                                <td> R$ <%= carrinho.preco %></td>
                                <td>
                                    <form action="/carrinho/atualizar/<%= carrinho.id %>?_method=PUT" method="post" class="botaoCarrinho" id="formularioquantidade">
                                        <input type="number" value="<%= carrinho.quantidade %>" min="1" max="9" step="1" name="quantidade"> 
                                        <button type="submit"> Att </button>
                                    </form>
                                </td>
                                <td> R$ <%= ((carrinho.preco)*(carrinho.quantidade)).toFixed(2) %></td>
                                <td> 
                                    <form action="/carrinho/deletar/<%= carrinho.id %>?_method=DELETE" method="post" class="botaoCarrinho">
                                        <button type="submit"> Excluir </button>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                        </div>

                    </table>
                </div>
                <div id="entrega-valor">
                    <div class="boxEntrega-valor">
                        <h3> Entrega </h3>
                        <label for="cep"> CEP </label>
                        <div>
                            <input type="text" id="cep" name="cep" required>
                            <button type="submit"> Calcular</button>
                        </div>
                        <h6>Não sei meu CEP</h6>
                    </div>
                    <div class="boxEntrega-valor">
                        <h3> Cupom | Vale-Presente </h3>
                        <label for="cep"> Cupom </label>
                        <div>
                            <input type="text" id="cupom" name="cupom">
                            <button type="submit"> Adicionar</button>
                        </div>
                    </div>
                    <div class="boxEntrega-valor">
                        <h3> Subtotal </h3>
                        <div class="valores">
                            <% let controladora = 0;
                              carrinho.forEach(carrinho =>{ 
                              controladora = parseInt(controladora)+ (parseInt(carrinho.preco)*parseInt(carrinho.quantidade))
                            %>
                            <h5> R$ <%= ((carrinho.preco)*(carrinho.quantidade)).toFixed(2)%> </h5>
                            <% }) %>
                        </div>
                    </div>
                    <div class="boxEntrega-valor">
                        <h3> Total </h3>
                        <div class="valores">
                        <h5> R$ <%= controladora.toFixed(2) %> </h5>
                        </div>
                    </div>
                    <button type="submit" id="finalizar"> <a href="/carrinho/finalizar/1"> Finalizar Compra </a> </button>
                </div>
            </section>
        </main>
    

        <%- include('partials/footer') %>
    </body>
</html>
