<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Categorias'}) %>
<link href="/css/categorias.css" rel="stylesheet" type="text/css">
<body>

    <%- include('partials/headerNavbar') %>
        <main id="main-container">
            <section class="titulo">
                <h1> Produtos </h1>
                <h3> <a href="/" class="adicionarmais"> Voltar para home</a></h3>
            </section>

            <section class="produtos">
                <% produtos.forEach(produtos =>{ %>
                <div class="itens">
                    <img class="img_colecao" src="<%= produtos.produto_img %>"/>
                    <h3 class="titulo_colecao"> <%= produtos.nome %> </h3>
                    <p class="desc_colecao"> <%= produtos.descricao_curta %></p>
                    <p class="preco_colecao"> R$ <%= produtos.preco %></p>
                    <a href="/produto/<%= produtos.id %>"> <button> Visualizar </button> </a>
                </div>
                <% }) %>
            </section>
            
        </main>

    <%- include('partials/footer') %>
</body>