<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Painel do Usuário'}) %>
<link href="/css/painel.css" rel="stylesheet" type="text/css">

    <body>
        <%- include('partials/headerNavbar') %>
        <section class="titulo">
            <div>
                <h1> Minha Conta </h1>
                <h3> <a href="/"> Voltar para home </a></h3>
            </div>
        </section>
        <div class="main-container">
             <div class="submenu">
                <a id= "menuAtual" href="#"> <h4> Meus dados </h4> </a>
                <a href="#" id="menuSecundario"> <h4>Meus pedidos </h4></a>
             </div>

             <div class="divFormulario">
                <form action="/painel/painelEdicao/?_method=PUT" method="post" id="formularioUsuario">
                    <label> Nome: </label>
                        <input type="text" name="nome" id="nome" value="<%= usuario.nome %>">

                    <label> E-mail:</label>
                        <input type="email" name="email" id="email" pattern="(\w\.?)+@[\w\.-]+\.\w{2,})" value="<%= usuario.email %>">
                    
                    <label> CPF:</label>
                        <input type="text" name="cpf" id="cpf" pattern="(\d{3}\.?\d{3}\.?\d{3}-?\d{2})" value="<%= usuario.cpf %>">
                    
                
                    <button type="submit" id="botaoEditar"> Salvar </button>
                </form>
            
             </div>

        </div>
        <%- include('partials/footer') %>
    </body>
</html>