<!DOCTYPE html>
<html lang="pt-br">
<%- include('partials/head', {title: 'Produtos'}) %>
<link href="/css/product.css" rel="stylesheet" type="text/css">
<body>

    <%- include('partials/headerNavbar') %>
    <section class="titulo">
        <div>
            <h1> Detalhes </h1>
            <h3> <a href="#" class="adicionarmais"> Escolher mais produtos </a></h3>
        </div>
    </section>
     
    <div class="produto-container">
        <div class="imagem-produto-atual">
            <img class="img-produto-atual" src="<%= produto.produto_img %>"/>
        </div>
        <div class="descricao-produto-atual">
            <h3 class="titulo-produto-atual"> <%= produto.nome %> </h3>
            <h5 class="subtitulo_produto"> <%= produto.descricao_curta %> </h3>
            <p class="preco-produto-atual"> R$ <%= produto.preco %></p>
            <div class="adicionar-carrinho">
                <div class="adicionar-quantidade">
                    <input id="quantidade" class="adicionar-quantidade-input" value="1" type="number" name="quantidade">
                </div>
            </div>
            <p class="desc-produto-atual"> <%= produto.descricao_longa %> </p>
            <div class="adicionar-produto">
                    <button class="botao-comprar-produto-atual"> Comprar </button>
                </div>
        </div>
    </div>

    <div class="produtos-relacionados">
        <p class="titulo-produtos-relacionados">Produtos Relacionados:</p>
        <div class="produtosColecao">
            <div class="produtosCol" id="colecao_primeiro"> 
                <img class="img_colecao" src="/images/plants/severin-candrian-qoegZJ3ybOY-unsplash.jpg"/>
                <h3 class="titulo_colecao"> Titulo do Produto </h3>
                <p class="desc_colecao"> Pequena descrição do produto </p>
                <p class="preco_colecao"> R$ 000,00</p>
                <button> Comprar </button>
            </div>

            <div class="produtosCol" id="colecao_segundo"> 
                <img class="img_colecao" src="/images/plants/severin-candrian-qQZdmUzXjZA-unsplash.jpg"/>
                <h3 class="titulo_colecao"> Titulo do Produto </h3>
                <p class="desc_colecao"> Pequena descrição do produto </p>
                <p class="preco_colecao"> R$ 000,00</p>
                <button> Comprar </button>
            </div>

            <div class="produtosCol" id="colecao_terceiro"> 
                <img class="img_colecao" src="/images/plants/severin-candrian-SOhatM1jFLk-unsplash.jpg"/>
                <h3 class="titulo_colecao"> Titulo do Produto </h3>
                <p class="desc_colecao"> Pequena descrição do produto </p>
                <p class="preco_colecao"> R$ 000,00</p>
                <button> Comprar </button>
            </div>

            <div class="produtosCol" id="colecao_quarto"> 
                <img class="img_colecao" src="/images/plants/severin-candrian--11MmJRwCPo-unsplash.jpg"/>
                <h3 class="titulo_colecao"> Titulo do Produto </h3>
                <p class="desc_colecao"> Pequena descrição do produto </p>
                <p class="preco_colecao"> R$ 000,00</p>
                <button> Comprar </button>
            </div>
        </div>
    </div>
    <%- include('partials/footer') %>
</body>